---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
  <Header />
  <main>
    <img
      id="spawn-image"
      alt="Terrashift spawn image"
      src="https://media.discordapp.net/attachments/1191746174684758037/1241764852783910942/2023-11-21_16.52.55.png?ex=664b6323&is=664a11a3&hm=140ac8b994d5ea043d31355c812cab72ba58e46b5f91dfcd3447f4916833bfb5&=&format=webp&quality=lossless&width=1060&height=662"
    />
    <p>
      Terrashift is a whitelisted vanilla Minecraft server with collaboration
      and community focus.
    </p>
    <p>
      With many friendly, experienced and knowledgeable members we are a great
      place to hangout at whether you prefer building giant redstone
      contraptions or just cozy huts to relax.
    </p>
    <p>
      More details can be found on the top right menu. To apply for membership
      use the "Apply" link in the same menu.
    </p>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    img {
      width: 100%;
      max-width: 200px;
      display: block;
      margin: 0 auto;
    }

    p {
      
      padding: 0 10px;
    }
    #spawn-image {
      border-radius: 10px;
      max-width: 500px; !important;
    }
  </style>
</Layout>
