---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import SpawnImage from "../assets/terrashift-spawn.png"
import {Image} from "astro:assets"
---

<Layout title="Home | Terrashift">
  <Header />
  <main>
    <Image
      id="spawn-image"
      alt="Terrashift spawn"
      src={SpawnImage}
      loading="eager"
    />
    <p>
      Terrashift is a whitelisted vanilla Minecraft server with collaboration
      and community focus.
    </p>
    <p>
      With many friendly, experienced and knowledgeable members we are a great
      place to hangout at whether you prefer building giant redstone
      contraptions or just cozy huts to relax.
    </p>
    <p>
      More details can be found on the top right menu. To apply for membership
      use the "Apply" link in the same menu.
    </p>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      width: 800px;
      max-width: calc(100% - 2rem);
      color: white;
      font-size: 20px;
      line-height: 1.6;
    }

    img {
      width: 100%;
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }

    p {
      text-align: center;
      padding: 0 10px;
    }
    #spawn-image {
      border-radius: 10px;
      max-width: 500px; !important;
      height: 350px;
      display: block;
      margin: 0 auto;
      padding: 20px;
    }

    @media screen and (max-width: 800px) {
      main {
        font-size: 18px;
      }

      #spawn-image {
        max-width: 300px;
        height: 200px;
      }

      img {
        max-width: 100px;
      }
      
      
    }
  </style>
</Layout>
